#bodyP1 {
  text-align: center;
}
.planoDeFundo {
  box-sizing: border-box;
  position: fixed;
  top: 0%;
  left: 0%;
  width: 100vw;
  height: 100vh;
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center center;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu {
  border: 7px solid; /* Borda de 1px com cor padrão (a cor do texto) */
  border-image: linear-gradient(to right, orange, blue);
  border-image-slice: 1;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-right: 20px;
}

.tituloP1 {
  text-align: center;
  font-size: 55px;
  -webkit-text-stroke: 3px black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 900;
}
.modoDeJogo {
  display: inline-block;
  width: 250px;
  height: 50px;
  text-decoration: none;
  color: white;
  font-size: 25px;
  line-height: 50px;
  margin: 0px 10px 0px 10px;
  border: 3px solid black;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
    1px 1px 0 black;
  font-family: Arial, Helvetica, sans-serif;
}

/* Game */

/* Estilo para o overlay */
.overlay {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7); /* Cor preta sem ser totalmente opaca */
  z-index: 9999; /* Elevado para garantir que fique acima de todos os outros elementos */
  justify-content: center;
  align-items: center;
  pointer-events: all; /* Bloqueia interações com outros elementos */
}

/* Estilo para a mensagem de loading */
#loadingMessage {
  font-size: 24px;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
  z-index: 10000; /* Garante que a mensagem fique visível acima de tudo */
}

/* Exemplo de animação de loading (opcional) */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#loadingMessage::before {
  content: '';
  display: block;
  margin-bottom: 10px;
  width: 50px;
  height: 50px;
  border: 6px solid #fff;
  border-top: 6px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

#bodyAnime {
  background-color: rgb(254, 173, 22);
  overflow: hidden;
}

#bodyHero {
  background-color: blue;
  overflow: hidden;
}

.iniciarReiniciar {
  margin-top: 20px;
  width: 160px;
  height: 40px;
  position: relative;
  left: 2vw;
}

.animeGame {
  position: relative;
  margin-top: 20px;
  width: 98vw;
  height: 85vh;
  margin-left: 1.5vw;
}

.card {
  width: 14.1vw;
  height: 38vh;
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 30px;
  border: 0.35vw solid black;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.popup {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.contador {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5vw;
  -webkit-text-stroke: 0.2vw black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media screen and (max-width: 1320px) {
  .menu {
    width: 70%;
  }
  .card {
    margin-left: 0.6vw;
    margin-right: 0.3vw;
  }
}

@media screen and (max-width: 1175px) {
  .linha1 {
    display: block; /* Força a quebra de linha */
  }
  .controle {
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  .game {
    display: flex;
    justify-content: center;
  }
  .iniciarReiniciar {
    width: 120px;
    height: 30px;
    margin-top: 1px;
    left: 0;
  }
  .animeGame {
    margin-top: 10px;
    margin-left: 0;
    width: 755px;
  }
  .card {
    height: 28vh;
    margin-bottom: 2.5px;
    width: 170px;
    border: 5px solid black;
    margin-left: 3px;
    margin-right: 3px;
  }
}

@media screen and (max-width: 790px) {
  .menu {
    width: 60%;
  }
  .tituloP1 {
    font-size: 40px;
    -webkit-text-stroke: 1px black;
  }
  .modoDeJogo {
    margin-top: 30px;
  }
  .iniciarReiniciar {
    margin-top: 0;
    width: 120px;
    height: 30px;
  }
  .animeGame {
    margin-top: 5px;
    width: 430px;
  }
  .card {
    height: 21vh;
    width: 125px;
  }
}

@media screen and (max-width: 520px) {
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .menu {
    width: 85vw;
    padding-bottom: 30px;
    padding-top: 20px;
    margin-bottom: 25px;
  }
  .tituloP1 {
    font-size: 33px;
    -webkit-text-stroke: 0px transparent;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black,
      1px 1px 0 black;
  }
  .iniciarReiniciar {
    margin-top: 30px;
    width: 90px;
    height: 30px;
  }
  .animeGame {
    margin-top: 20px;
    width: 305px;
  }
  .card {
    width: 97px;
    height: 19vh;
    border: 2.5px solid black;
    margin-left: 1px;
    margin-right: 1px;
  }
}

@media screen and (max-width: 520px) and (max-height: 640px) {
  .iniciarReiniciar {
    margin-top: 15px;
    width: 90px;
    height: 35px;
  }
  .animeGame {
    margin-top: 15px;
    width: 305px;
  }
}
